.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 73, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
